@use "src/colors.scss" as colors;

.sidebar {
	z-index: 200;
	background-color: colors.$white;
	position: fixed;
	top: 0;
	left: 110px;
	width: fit-content;
	height: 100%;

	transform: translateX(-100%);
	transition: transform 0.3s ease-out;
	color: colors.$black;

	&.open {
		transform: translateX(0);
	}
}
